<h1>プロフィール確認</h1>
<div class="text-2xl">
  <%= @profile.user.name %>
</div>
<div>
  <%= image_tag @profile.avataor_url %>
  <%= @profile.racket %>
	<%= @profile.history %>
	<%= @profile.play_style %>
  <%= @profile.level %>
  <%= @profile.gender %>
	<%= @profile.body %>
</div>
<%= link_to 'トップページへ', rackets_path %>
<%= link_to '編集' , edit_profile_path(@profile) %>
<%= link_to '削除', profile_path(@profile) %>
